<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Hospital database management system</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600"
	rel="stylesheet" />
<link rel='stylesheet prefetch'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
<link rel='stylesheet prefetch'
	href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<!-- A little bit front-end-->
	<!-- SECTION 1 -->
	<section id="header">
		<form class="form-inline pull-right" th:action="@{/logout}"
			method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
		<div class="container">
			<div class="lang">
				<a class="lang1" th:href="@{/doctorlist?lang=en}">Login
					(English)</a> &nbsp;|&nbsp; <a class="lang1"
					th:href="@{/doctorlist?lang=fi}">Kirjaudu sisään (Suomi)</a>
				&nbsp;|&nbsp; <a class="lang1" th:href="@{/doctorlist?lang=vi}">Đăng
					nhập (Vietnamese)</a>
			</div>
			<div class="row" id="title">
				<div class="col-xs-12">
					<div class="welcome">
						<h3 th:utext="#{content.welcome}">Welcome</h3>
						<h3>[[${#httpServletRequest.remoteUser}]]</h3>
						<h4 th:utext="#{content.title}">Hospital database management
							system</h4>
						<h6 th:utext="#{content.visit}">Visit me on</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="social">
				<div class="row">
					<div class="mx-auto">
						<!-- First -->
						<a
							href="https://www.behance.net/gallery/52536825/Logo-and-Companys-Identity-Designs-by-Nhi-Duong">
							<div class="icon rounded-circle">
								<i class="fab fa-behance"></i>
							</div>
						</a>
						<!-- Second -->
						<a href="https://github.com/TamNhiDuong">
							<div class="icon rounded-circle">
								<i class="fab fa-github"></i>
							</div>
						</a>
						<!-- Third -->
						<a href="https://www.flickr.com/photos/127822906@N05/"
							target="_blank">
							<div class="icon rounded-circle">
								<i class="fab fa-flickr"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- SECTION 2 -->
	<section id="patient-list">
		<!-- Navigation bar to go to new DATABASE table-->
		<ul>
			<li><a class="active" href="/patientlist">Home</a></li>
			<li><a th:href="@{/doctorlist}">Doctor list</a></li>
			<li><a th:href="@{doctordb/all}">Raw data</a></li>
			<li><a th:href="@{/form}">Contact</a></li>
		</ul>	
		<!-- Add function -->
		<!-- <a href="/addnew" class="btn btn-success">Add More Doctors</a>-->
	
		<div class="container">
			<div class="row allpatients">
				<div class="col-md-2 col-sm-4 patient-item"
					th:each="doctor : ${doctors}">
					<div class="inner-patient"></div>
					<div class="img-wrap rounded-circlei">
						<div class="patient-hover">

							<img th:src="${doctor.img}" class="img-responsive"
								th:alt="${doctor.firstname}" />
						</div>
					</div>

					<div class="patient-caption">
						<h4 th:text="${doctor.firstname} + ' ' + ${doctor.lastname}"></h4>
						<h4 th:text="Price  + ' ' + ${doctor.pricePerHour} + ' '+Euro"></h4>
						<h4 th:text="Address  + ' ' + ${doctor.address.city}"></h4>
						<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"
							th:href="@{/deletedoctor/{id}(id=${doctor.id})}">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
